@model List<FileData>
@{
    ViewData["Title"] = "File System";
}
@if(TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1 class="text-center text-primary my-4">File Data @ViewData["name"]</h1>
<div class="my-4">
    <a class="btn btn-primary" href="@Url.Action("Create", "Home")">Create New File</a>
</div>
<div class="table-responsive mt-5">
    <table class="table table-hover table-borderless table-dark align-middle">
        <thead class="table-dark">
            <tr>
                <th class="text-center">No</th>
                <th>File Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach(var file in Model)
            {
                <tr class="table-light">
                    <td class="text-center">@file.No</td>
                    <td class="text-danger text-left">@file.Name</td>
                    <td class="text-center">
                        <a class="text-primary" href="@Url.Action("Details", "Home", new { name = file.Name })">Details</a> ||
                         <a class="text-info" href="@Url.Action("Download", "Home", new { name = file.Name })">Download</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
